# Clustering Toronto
#### by Yishai Rasowsky

### #1 Import libraries

In [2]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
print('Libraries successfully installed!')

Libraries successfully installed!

### #2 Download dataframe

In [3]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
print('Dataframe successfully scraped from Wikipedia!')

Dataframe successfully scraped from Wikipedia!

In [4]:
# select first element in dfs:
df2 = dfs[0]
df2.head(7)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [5]:
print(type(dfs))
print(type(df2))

<class 'list'>
<class 'pandas.core.frame.DataFrame'>

### #3 Remove boroughless entries

In [6]:
# For each row that has the middle column unassigned, delete that row.
df3=df2[df2['Borough'] != 'Not assigned']
df3.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### #4 Combine neighborhoods

In [7]:
# Define a new series based on the sorted values of the previous dataframe
series4 = df3.groupby(['Postcode','Borough'],as_index=True)["Neighbourhood"].apply(lambda item:', '.join(item))
# Construct a dataframe based on that series
df4 = pd.DataFrame(series4) 
# Make the column names aligned
df4 = df4.reset_index()
# Display first rows
df4.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V  Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W  Etobicoke                                          Northwest

### #5 Identify neighborhood-less rows

In [8]:
# Display which boroughs have no assigned neighborhood
df5=df4[df4['Neighbourhood'] == 'Not assigned']
df5.head()

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Not assigned

### #6 Assign borough name to unnamed neighborhoods

In [9]:
# Replace the entry in the Not 
df6=df4.replace(to_replace ="Not assigned", value ="Queen\'s Park")
result=df6
result[84:87]

   Postcode       Borough                          Neighbourhood
84      M6S  West Toronto                     Runnymede, Swansea
85      M7A  Queen's Park                           Queen's Park
86      M7R   Mississauga  Canada Post Gateway Processing Centre

### #7 Check if any unnamed neighborhoods remain - hopefully not!

In [10]:
# Display which boroughs have no assigned neighborhood
# We want this to return nothing at all!
df7=df6[df6['Neighbourhood'] == 'Not assigned']
df7.head()

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

### #8 What is the shape?

In [11]:
result.shape

(103, 3)

# Introducing latitude and longitude

In [12]:
latlong_df = pd.read_csv("https://cocl.us/Geospatial_data")
latlong_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
latlong_df.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
latlong_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [14]:
df_merge_col = pd.merge(result, latlong_df, on='Postcode')
df_merge_col.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [17]:
address = 'Toronto, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

NameError: name 'Nominatim' is not defined